:root {
    --white-color: #ffffff;
  }

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    background-color: grey;
    color:white;

}

button:hover {
    color:aqua;
    background-color: rgb(82, 78, 78);
    transition: ease-in-out 0.2s;
}
#shape-selector {
    margin-bottom: 10px;
    color: white;
}


#shape-container {
    position: relative;
}

#box {
    position: relative;
    width: 50%; /* Default width */
    height: 50%; /* Default height */
    margin: 20px auto;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden; /* Ensure shapes stay within container bounds */
}

.circle, .square, .triangle {
    position: absolute;
    background-color: rgb(0, 255, 132);
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.square {
    width: 50px;
    height: 50px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid  rgb(0, 255, 132);
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#buttons {
    display: flex;
    justify-content: center;
}

#buttons button {
    margin-right: 10px;
}

.hide {
    display: none;
}

#select-speed {
    color: var(--white-color);
}

#speed-display {
    color: var(--white-color);
}

#height-text {
    color: var(--white-color);

}

#width-text {
    color: var(--white-color);

}

#width {
    color: var(--white-color);
    background-color: black;
}

#height {
    color: var(--white-color);
    background-color: black;
}

#color-text {
    color: var(--white-color);
}

#color {
    color: var(--white-color);
}

#select-container-text {
    color: var(--white-color);
}

#shape-size-display {
    color: var(--white-color);
}

#jiggle-box {
    color: var(--white-color);
}

#shape-size-container {
    display: flex;
    align-items: center;
  }
  
  #shape-size-label {
    margin-right: 10px;
    color: var(--white-color);
  }